entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "fontconfig", "freetype", "gdk-pixbuf", "gtk2-x11", "libGL", "libGLU", "libpulseaudio", "openal", "unzip"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"
